.div_NavBar {
  background-color: #222831;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}


.navBar_links a {
  float: right;
  color: white;
  text-align: center;
  padding: 1%;
}

.navBar_links a:hover {
  background-color: #EEEEEE;
  color: black;
}

.navBar_links a.active {
  background-color: #76ABAE;
}


.navBar_filters {
  background-color: #31363F;
  overflow: hidden;
}




/* Home page
 */


 .image_topHome{
  max-width: 220vh;
 }









/* become a publisher div */


.div_publisherContainer {
  margin-top: 2vh;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.image_mtg_hand {
  max-width: 25vh;
}





.button_publisherContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstHomeButton {
  background-color: #523f36;
  color: white;
  padding: 1.5vh 2.5vh;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.firstHomeButton:hover {
  background-color: #2e231e;
}

.secondHomeButton{
  background-color: #2f6589;
  color: white;
  padding: 1.5vh 2.5vh;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.secondHomeButton:hover {
  background-color: rgb(24, 53, 72);
}





.div_publisherTextContainer {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.h2_publisher {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.h4_publisher {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-style: italic;

}





/* footer */

.div_footer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footerHelperDiv{
  border-left: 1px solid black;
  width: 20vh;
}




/* card page */

.div_cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 3vh;
}

.div_cardsRow {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 3vh;
}

.div_CardSingle {
  width: 30vh;
  height: 45vh; 
  border: 1px solid #cecbcb;
  border-radius: 2vh;
  background-color: #f3f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




.leftie{
  position: fixed;
  margin-left: 15.5vh;
}



/* single card styles */

.div_CardSingleButtons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn_editCard{
  background-color: #0cb4bd;
  color: white;
  padding: 1.5vh 2.5vh;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_editCard:hover {
  background-color: rgb(24, 53, 72);
}

.btn_deleteCard{
  background-color: #d70505;
  color: white;
  padding: 1.5vh 2.5vh;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_deleteCard:hover {
  background-color: #ac0303;
}




.div_CardSingleImage{
  min-height: 20vh;
    margin: 2vh;
    border: 1px solid black;
}
