.div_NavBar {
    background-color: #222831;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .navBar_links a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navBar_links a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navBar_links a.active {
    background-color: #04AA6D;
    color: white;
  }


  .navBar_filters{
    background-color: #31363F;
    overflow: hidden;
  }