.div_NavBar {
  background-color: #222831;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0; 
}

  
  .navBar_links a {
    float: right;
    color: white;
    text-align: center;
    padding: 1%;
  }
  
  .navBar_links a:hover {
    background-color: #EEEEEE;
    color: black;
  }
  
 .navBar_links a.active {
    background-color: red;
    color: white;
  }



  .navBar_filters{
    background-color: #31363F;
    overflow: hidden;
  }
